
 h1 {
    color:blueviolet;
    font-family: sans-serif;
}

body{
    background-image: url("http://getwallpapers.com/wallpaper/full/9/5/c/248601.jpg");
    font-family: sans-serif;
    color: yellow;
}