h1 {
    text-transform: uppercase;
    text-align: center;
    color:red;
    font-family: sans-serif;
}

body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    width:100%;
    height: 500px;
    width: 500px;
    background-image: url("https://i.pinimg.com/originals/ed/a9/ac/eda9ace5d464d66d08ee327089727d76.jpg");
    font-family: sans-serif;
    color: yellow;
}

input[type=text]{
  background-color: #FF00FF;
  color: blue;
  width: 20%;
  padding: 50px;
  font-size: 20px;
  border: 5px solid red;
  cursor: pointer;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

 button{
  float: center;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: red;
  font-size: 17px;
  border: 10px solid orange;
  cursor: pointer;
}
