<!-- templates/index.html -->

<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
Gif Search
{% endblock %}

{% block body %}
<h1>Welcome to Weeb Gif Search</h1>
<h2>We're going to have some fun</h2>
<img src="https://media.giphy.com/media/ErZ8hv5eO92JW/giphy.gif" alt="Cute wink" />




<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

    <!-- Form setup for Search Bar -->
    <form class="Search" action = '/'>
        <input type="text" placeholder="Search.." name="query">
        <button type="submit">Submit</button>
    </form>

    <!-- Form setup for Trending Button -->
    <form action = '/trending'>
        <button type='submit'> See What's Trending</button>
    </form>

    <!-- Form setup for Random Button -->
    <form action = '/random'>
        <button type='submit'> See What's Random</button>
    </form>

<!-- Jinja2 loop to displays all gifs generated -->
{% for gif in result_gif %}
    {%include 'gif.html'%}
{% endfor %}


{% for gif in trending_gifs %}
    {%include 'gif.html'%}
{% endfor %}


{% for gif in random_gifs %}
    {%include 'gif.html'%}
{% endfor %}



{% endblock %}

<!-- background="http://getwallpapers.com/wallpaper/full/9/5/c/248601.jpg"